/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}

button {
    padding: 10px;
    color: inherit;
    background: inherit;
}

button,
button:focus,
a,
input,
label {
    cursor: pointer;
    outline: 0;
}


/* UTILITIES */
.container {
    padding: 10px;
    max-width: 90%;
    width: 1000px;
}

.display-none {
    display: none;
}

.inline-fl-w {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.text-small {
    font-size: 70%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.central {
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.in-block {
    display: inline-block;
}

.black {
    background: #000;
}

.darkgreen-color {
    color: darkgreen;
}

.darkred-color {
    color: darkred;
}

.green {
    background: darkgreen;
}

.white-color {
    color: #fff
}


/* HEADER */
/* HEADER */
.header .container {
    justify-content: space-between;
    align-items: center;
}

    header .left-header,
    header .right-header {
        flex-basis: 50%;
    }

    header .center-header {
        flex-basis: 100%;
    }

        .link-github {
            margin-left: 15px;
            background: inherit;
            color: inherit;
            font-size: 250%;
        }

        .play-button {
            font-size: 150%;
        }

        .right-header {
            justify-content: flex-end;
            align-items: center;
        }

            #volume-button,
            #volume-button:focus {
                width: 50px;
                padding: 0;
                background: inherit;
                color: inherit;
                border: 0;
                outline: 0;
            }

                #volume-button > * {
                    display: block;
                }

                #icon-volume {
                    padding: 5px;
                    font-size: 200%;
                }

                #icon-switch {
                    font-size: 200%;
                }

            .input-box {
                margin-right: 15px;
            }


/* CANVAS */
#canvas {
    border: 2px solid blue;
    cursor: not-allowed;
    width: 300px;
    height: 300px;
}


/* SCORE */
.wrapper {
        margin: 15px;
    }

    .wr-label {
        margin-bottom: 10px;
        font-size: 120%;
    }

    .box {
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border: 1px solid #fff;
        font-size: 200%;
        font-weight: 800;
    }


/* FOOTER  */
.main-footer {
    justify-content: space-between;
}

    .main-footer .info-button {
        padding: 0;
        font-size: 120%;
        border: 0;
    }

    footer .footer-right {
        font-style: italic;
        font-size: 50%;
    }

footer .rules {
    top: 0px;
    left: 10px;
    transform: translate(0%, -100%);
    padding: 10px;
    width: 800px;
    max-width: 90%;
    background: gray;
    border: 1px solid #fff;
    font-size: 90%;
}

    footer .rules > p {
        margin-bottom: 15px;
    }
