/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #000;
}

button {
    text-align: center;
}

button,
button:focus,
a,
input,
label {
    color: inherit;
    background: inherit;
    cursor: pointer;
    outline: 0;
}


/* UTILITIES */
.container {
    padding: 10px;
    width: 90%;
    max-width: 1100px;
}

.block {
    display: block;
}

.no-display {
    display: none;
}

.inline-fl-w {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.text-small {
    font-size: 70%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.central {
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.in-block {
    display: inline-block;
}

.black {
    background: #000;
}

.white-color {
    color: #fff
}


/* MAIN */ 
main {
    background: #332840;
}


/* HEADER */
header {
    font-size: 200%;
    font-weight: 700;
    min-width: 320px;
}


/* PLAY-BUTTON SECTION */
#play-btn { 
    padding: 5px 15px;
}

/* SCORE-ROW */
.score-row > * {
    margin-bottom: 5px;
}

.score-row > div:first-child {
    flex-basis: 100%;
}

.score-row > div:not(:first-child) {
    flex-basis: 50%;
}


/* CANVAS */
.canvas-box {
    border: 5px solid #5D2980;
    border-radius: 3px;
}

    #canvas {
        width: 300px;
        height: 300px;
        cursor: none;
    }

    .main-menu {
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;
        font-size: 90%;
        background-color: rgba(93, 41, 128, 0.8);
    }

        .main-menu.active,
        #info-menu.active,
        #options-menu.active {
            display: block;
        }

        .main-menu #close-menu-btn {
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            border: 0;
            color: red;
            font-size: 160%;
        }

        .main-menu p {
            margin: 10px 0;
            font-size: 80%;
        }

        #info-menu,
        #options-menu {
            margin-top: 15px;
            word-wrap: break-word;
        }
        
            #options-menu .mode-box h5 {
                margin-bottom: 10px;
            }


    .btn-row {
        justify-content: space-between;
        padding: 1px 5px;
    }

        #pause-btn {
            width: 65px;    
        }

        #pause-btn.resume {
            background: green;
        }

        .btn-row button {
            margin: 0;
            padding: 5px;
            min-width: 30px;
            line-height: 100%;
        }

            i.fa-volume-mute {
                color: red;
            }

/* FOOTER */
footer {
    margin-top: 10px;
}

    footer .container {
        justify-content: flex-end;
        align-items: center;
    }

        footer span {
            margin-right: 10px;
            font-style: italic;
            font-size: 40%;
        }