/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}


/* UTILITIES */
.container {
    padding: 10px;
    max-width: 90%;
    width: 1000px;
}

.display-none {
    display: none;
}

.inline-fl-w {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.text-small {
    font-size: 70%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.central {
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.in-block {
    display: inline-block;
}

.black {
    background: #000;
}

.green {
    background: darkgreen;
}

.white-color {
    color: #fff
}


/* HEADER */
header .container {
    justify-content: space-between;
}

    header > * {
        flex-basis: calc(100% / 3)
    }

        .link-github {
            margin-left: 15px;
            background: inherit;
            color: inherit;
            font-size: 250%;
        }

    .right-header {
        order: 1;
    }


/* canvas-wrapper */
#canvas {
    border: 2px solid blue;
}

